{{> top}}
<section id="timeselector"
         class="mb-4 mx-3 p-3 border border-2 border-primary rounded-3">
    <h2 class="text-center">Zeitauswahl</h2>
    <form action="forensic"
          method="get"
          class="container text-center">
        <div class="row mt-2 text-body text-opacity-50">
            <label class="col">End Time: <select name="endtime"
                        class="px-3 ms-3"
                        id="timeendselect">
                    {{#each spg_times}}
                        <option value="{{this}}"
                                {{#if (eq this ../endtime)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </label>
            <label class="col">End Date: <input type="date"
                       name="enddate"
                       class="px-3 ms-3"
                       value="{{enddate}}"></label>
        </div>
        <div class="row mt-2">
            <label class="col">START Time: <select name="starttime"
                        class="px-3 ms-3"
                        id="timestartselect">
                    {{#each spg_times}}
                        <option value="{{this}}"
                                {{#if (eq this ../starttime)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </label>
            <label class="col">Start Date: <input type="date"
                       name="startdate"
                       class="px-3 ms-3"
                       value="{{startdate}}"></label>
        </div>
        <div class="row mt-2">
            <label class="col"><input type="submit"
                       class="btn btn-secondary w-100"
                       value="Suchen"></label>
        </div>
    </form>
</section>
<section class="mx-3">
    <h2 class="text-center">Schüler und IP Adressen</h2>
    <h3 class="text-center">Zeitraum: <span class="fs-6">({{startdate}})</span> {{starttime}} - <span class="fs-6">({{enddate}})</span> {{endtime}}
    </h3>
    <ul class="list-unstyled ps-5 text-start">
        {{#each forensic_ipcount_array}}
            <li class="row">
                <details class="col">
                    <summary>IP: {{this.ip}} ({{this.count}}, zuletzt: {{this.lastseen}})</summary>
                    <ul class="list-unstyled ms-3">
                        <li class="text-center">Registrations History für {{this.ip}}</li>
                        {{#each (get ../ip_history this.ip) }}
                            <li>{{this.at}} {{this.name}}</li>
                        {{/each}}
                    </ul>
                </details>
                <details class="col">
                    <summary>
                        {{#let (get ../ip2users this.ip) as |user|}} Name: {{user.name}}
                        {{/let}}
                    </summary>not yet.
                </details>
            </li>
        {{/each}}
    </ul>
</section>
</main>
</body>

</html>