<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>PLF</title>
    <link rel="stylesheet"
          href="/static/bootstrap.css">
    <script src="/static/htmx.js"></script>
</head>

<body>
    <main class="container mt-4 p-4">
        <h1 class="mb-3 text-center">PLF - Router</h1>
        <a class="d-block btn mb-3 fw-bold {{#if remote_user}}btn-info{{else}}text-bg-danger btn-danger{{/if}}"
           {{#if remote_user}}
           href="/whoami">{{remote_user.name}} ({{remote_user.email}} / {{remote_user.klasse}})
            {{else}} href="/whoami">Bitte Name bekanntgeben! {{/if}}</a>
        <h5 class="text-center">IP: {{remote_ip}}</h5>
        <nav class="d-flex justify-content-around gap-5 my-4">
            <a href="/"
               class="btn btn-outline-primary">Home</a>
            <a href="/upload"
               class="btn btn-outline-primary">Zipfile Upload</a>
        </nav>