<div id="user-badge-wrapper"
     class="d-flex justify-content-center mb-2">
    <button hx-get="/whoami"
            hx-target="#main-content"
            class="user-badge leisure-card">
        {{#if remote_user}}
            <div class="d-flex align-items-center gap-2">
                <div class="initial-avatar rounded-circle d-flex align-self-center size-36">
                    {{givenNameInitial remote_user.name}}
                </div>
                <div class="d-flex flex-column text-start">
                    <span class="fw-bold fs-lg">{{remote_user.name}}</span>
                    <span class="text-muted fs-sm">{{remote_user.email}} / {{remote_user.klasse}}</span>
                </div>
            </div>
            <span class="badge badge--light ms-auto">Change</span>
        {{else}}
            <span class="text-danger fw-bold">Bitte Name bekanntgeben!</span>
        {{/if}}
    </button>
</div>